/*
    Taken from: http://codepen.io/bbodine1/pen/novBm
*/

.todoCB {
  width: 16px;
  position: relative;
  margin: 12px auto;
}
.todoCB label {
  width: 16px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #337AB7;

  border-radius: 2px;
  /* box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); */
}
.todoCB label:after {
  content: '';
  width: 9px; /* 9px */
  height: 5px; /* 5px */
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid rgb(254,249,243);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.todoCB label:hover::after {
  opacity: 0.5;
}
.todoCB input[type=checkbox] {
  visibility: hidden;
}
.todoCB input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*============================================================================*/

.todoCbRED {
  width: 16px;
  position: relative;
  margin: 12px auto;
}
.todoCbRED label {
  width: 16px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #D9534F; /* Bootrape danger colour */

  border-radius: 2px;
  /* box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); */
}
.todoCbRED label:after {
  content: '';
  width: 9px; /* 9px */
  height: 5px; /* 5px */
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid rgb(254,249,243);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.todoCbRED label:hover::after {
  opacity: 0.5;
}
.todoCbRED input[type=checkbox] {
  visibility: hidden;
}
.todoCbRED input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*============================================================================*/

.todoCbORANGE {
  width: 16px;
  position: relative;
  margin: 12px auto;
}
.todoCbORANGE label {
  width: 16px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #F0AD4E;   /*Boostrap warning colour */

  border-radius: 2px;
  /* box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); */
}
.todoCbORANGE label:after {
  content: '';
  width: 9px; /* 9px */
  height: 5px; /* 5px */
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid rgb(254,249,243);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.todoCbORANGE label:hover::after {
  opacity: 0.5;
}
.todoCbORANGE input[type=checkbox] {
  visibility: hidden;
}
.todoCbORANGE input[type=checkbox]:checked + label:after {
  opacity: 1;
}
