body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

a {
    color: #00B7FF;
}

.voffset0 {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.hroffset1 {
    margin-right:3px;
}

.hroffset2 {
    margin-right:5px;
}
.hroffset3 {
    margin-right:8px;
}
.hroffset4 {
    margin-right:11px;
}

.hloffset1 {
    margin-left:3px;
}

.hloffset2 {
    margin-left:5px;
}
.hloffset3 {
    margin-left:8px;
}
.hloffset4 {
    margin-left:11px;
}

.twcola {
    background-color: darkorange;
}
.twcolb {
    background-color: darkred;
}
.twcolc {
    background-color: seagreen;
}

.twcompleted {
    background-color: #4ED963;
    border-color: #4ED963;
}

.twnotdone {
    background-color: #F29C94;
    border-color: #F29C94;
}


.twoverdue {
    background-color: orangered;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.twdisabletextselect {
    -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

/* Remove the box shadwow when the pencil is used in a botton. */
button .glyphicon-pencil:hover {
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.0);
    box-shadow: 0 0 10px rgba(0,0,0,0.0);
}


.glyphicon-pencil:hover {
   -webkit-box-shadow: 1px 1px 20px blue;
    box-shadow: 1px 1px 20px blue;
}

.twlinkitem:hover {
    -webkit-box-shadow: 1px 1px 10px blue;
    box-shadow: 1px 1px 10px blue;
}
.twtabnavigation {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.twtumbnail {
  margin: 3px 0;
  height:6em; width:12em;
  background-color:#F2DEA2;
  text-align: center;
}

.twimgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
