body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

a {
    color: #00B7FF;
}

.voffset0 {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.hroffset1 {
    margin-right:3px;
}

.hroffset2 {
    margin-right:5px;
}
.hroffset3 {
    margin-right:8px;
}
.hroffset4 {
    margin-right:11px;
}
.hroffset5 {
    margin-right:14px;
}
.hroffset6 {
    margin-right:17px;
}
.hroffset7 {
    margin-right:20px;
}
.hroffset8 {
    margin-right:23px;
}
.hroffset9 {
    margin-right:26px;
}
.hroffset10 {
    margin-right:29px;
}
.hroffset11 {
    margin-right:32px;
}
.hroffset12 {
    margin-right:35px;
}

.hloffset1 {
    margin-left:3px;
}

.hloffset2 {
    margin-left:5px;
}
.hloffset3 {
    margin-left:8px;
}
.hloffset4 {
    margin-left:11px;
}
.hloffset5 {
    margin-left:14px;
}
.hloffset6 {
    margin-left:17px;
}
.hloffset7 {
    margin-left:20px;
}
.hloffset8 {
    margin-left:23px;
}
.hloffset9 {
    margin-left:26px;
}
.hloffset10 {
    margin-left:29px;
}
.hloffset11 {
    margin-left:32px;
}
.hloffset12 {
    margin-left:35px;
}

.twcola {
    background-color: darkorange;
}
.twcolb {
    background-color: darkred;
}
.twcolc {
    background-color: seagreen;
}

.twcompleted {
    background-color: #4ED963;
    border-color: #4ED963;
}

.twnotdone {
    background-color: #F29C94;
    border-color: #F29C94;
}


.twoverdue {
    background-color: orangered;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.twdisabletextselect {
    -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

/* Remove the box shadwow when the pencil is used in a botton. */
button .glyphicon-pencil:hover {
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.0);
    box-shadow: 0 0 10px rgba(0,0,0,0.0);
}


.glyphicon-pencil:hover {
   -webkit-box-shadow: 1px 1px 20px blue;
    box-shadow: 1px 1px 20px blue;
}
.glyphicon-plus:hover {
   -webkit-box-shadow: 1px 1px 20px blue;
    box-shadow: 1px 1px 20px blue;
}

.twlinkitem:hover {
    -webkit-box-shadow: 1px 1px 10px blue;
    box-shadow: 1px 1px 10px blue;
}
.twtabnavigation {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
    margin-left: 0 !important;
    mergin-right:0;!important;
}

.twtumbnail {
  margin: 3px 0;
  height:6em; width:12em;
  background-color:#F2DEA2;
  text-align: center;
}

.twimgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.twdone {
  text-decoration: line-through;
}

/* #EC971F ::= bootstrap danger colour */


a.twlessormore:visited {
    color: #EC971F !important;
}

a.twlessormore:hover {
    color: #EC971F;
}

a.twlessormore:link {
    color: #EC971F !important;
}

.twrowtable {
    border-collapse: collapse;
}

.twrowtable td {
    vertical-align: top;
}

/* Used for drag and drop */
.drag {
  opacity: 0.3;
  background-color: #FF6E0A;
}
.over {
  background-color: rgba(255,110,10,.2);
  border-style: solid;
  border-color: #FF6E0A;
  border-width: 2px;
}
.dragLinkItem {
  opacity: 0.3;
  background-color: #FF6E0A;
}
.overLinkItem {
  background-color: rgba(255,110,10,.2); /* #FF6E0A; */
  border-style: solid;
  border-color: #FF6E0A;
  border-width: 2px;
}
.dragJumpItem {
  opacity: 0.3;
  background-color: #FF6E0A;
}
.overJumpItem {
  background-color: rgba(255,110,10,.2); /* #FF6E0A; */
  border-style: solid;
  border-color: #FF6E0A;
  border-width: 2px;
}

.modal-dialog {
  top: 7em;
}
