body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

a {
    color: #00B7FF;
}

.voffset0 {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.hroffset1 {
    margin-right:3px;
}

.hroffset2 {
    margin-right:5px;
}
.hroffset3 {
    margin-right:8px;
}
.hroffset4 {
    margin-right:11px;
}

.twcola {
    background-color: darkorange;
}
.twcolb {
    background-color: darkred;
}
.twcolc {
    background-color: seagreen;
}

.twcompleted {
    background-color: lightgreen;
}

.twoverdue {
    background-color: orangered;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.twdisabletextselect {
    -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

.glyphicon-pencil:hover {
   -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

}
