
<div>
  <button id="mainButtonSettinsID" type="button" ng-click="launchSettings()"
          class="btn btn-sm btn-warning pull-right">
    <span class="glyphicon glyphicon-cog"></span>
  </button>

  <button id="mainButtonSearchID" type="button" ng-click="launchSearch()"
          class="btn btn-sm btn-warning pull-right hroffset1">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <button id="mainButtonTodoDashboardID" type="button" ng-click="launchTodoDashboard()"
          class="btn btn-sm btn-warning pull-right hroffset1">
    <span class="glyphicon glyphicon-th-list"></span>
  </button>
  <button id="mainButtonSetupID" type="button" ng-click='setup()'
          class="btn btn-sm btn-warning pull-right hroffset1">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
</div>
