<div class="col-md-3">

    <div ng-if="mode==='new'">
        <div id="imageHolderPasteTargetID"
             class="twtumbnail" style="padding: 5px">
                <img ng-if="imageObj.dataUrl" ng-src="{{imageObj.dataUrl}}" height="75em"/>
                <p ng-if="!imageObj.dataUrl"
                   class="voffset4">Paste Image, use CTRL+v</p>
        </div>

      <form>
        <div class="text-left">
          <input style="width:70%"
                 ng-model="imageObj.fileName" type="text" placeholder="Enter name.">
          <span ng-click="save()" class="twlinkitem glyphicon glyphicon-ok"></span>
          <span ng-click="cancel()" class="twlinkitem glyphicon glyphicon-remove"></span>
        </div>
      </form>
    </div>

    <div ng-if="mode!=='new'">
        <div class="twtumbnail" >

        </div>

        <strong>Imagefile</strong>
        <span ng-click="cancel()" class="twlinkitem glyphicon glyphicon-remove"></span>
        <span ng-click="copyUrl()" class="twlinkitem glyphicon glyphicon-export"></span>

    </div>

</div>
