<div class="col-md-3">

    <div ng-if="mode==='new'">
        <div class="twtumbnail" style="padding: 5px">

                <p class="voffset4">Paste Image, use CTRL+v</p>

        </div>

        <div class="text-left">
          <input
              style="width:70%"
              ng-model="imageName"
              type="text"
              placeholder="Enter name."/>

          <span ng-click="save()" class="twlinkitem glyphicon glyphicon-ok"></span>
          <span ng-click="cancel()" class="twlinkitem glyphicon glyphicon-remove"></span>
        </div>
    </div>

    <div ng-if="mode!=='new'">
        <div class="twtumbnail" >

        </div>

        <strong>Imagefile</strong>
        <span ng-click="cancel()" class="twlinkitem glyphicon glyphicon-remove"></span>
        <span ng-click="copyUrl()" class="twlinkitem glyphicon glyphicon-copy"></span>

    </div>

</div>
