<div ng-controller="TodoDashboardController" >

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <h4 class="text-center text-primary">Todos <small>({{numTodos}})</small></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h5 class="text-center text-primary">Waiting <small>({{listTodo.length}})</small></h5>
            <todos todo-list="listTodo" edit="edit" synchronize="sync" show-section-title="showSectionTitle"></todos>
        </div>
       <div class="col-md-3">
            <h5 class="text-center text-primary">Waiting <small>({{listWaiting.length}})</small></h5>
            <todos todo-list="listWaiting" edit="edit" synchronize="sync" show-section-title="showSectionTitle"></todos>
        </div>
        <div class="col-md-3">
            <h5 class="text-center text-primary">Current <small>({{listCurrent.length}})</small></h5>
            <todos todo-list="listCurrent" edit="edit" synchronize="sync" show-section-title="showSectionTitle"></todos>
        </div>
        <div class="col-md-3">
            <h5 class="text-center text-primary">Done <small>({{listDone.length}})</small></h5>
            <todos todo-list="listDone" edit="edit" synchronize="sync" show-section-title="showSectionTitle"></todos>
        </div>
    </div>

    <div class="row voffset4">
        <div class="col-md-12">

            <div class="form-group hloffset2 pull-left voffset1">
                <input type="checkbox" id="showSectionNamesID"
                       ng-model="showSectionTitle"
                       ng-change="sync()">
                <small for="showSectionNamesID" >Show Section Names</small>
            </div>

            <button type="button" class="btn btn-primary btn-sm pull-right hroffset4"
                    ng-click="close()">Close</button>
        </div>
    </div>

</div>
