<div>
    <div class="btn-group btn-group-sm">
          <wtjump ng-repeat="item in sdata.jumpItems"   link="{{item.link}}"
                 note="{{item.note}}">{{item.titleDisplay}}</wtjump>
    </div>
    <div class="btn-group btn-group-sm" >
        <div ng-repeat="item in sdata.linkItems">
            <wtref link="{{item.link}}"
                   note="{{item.note}}">{{item.titleDisplay}}</wtref>
        </div>
    </div>
    <small><span ng-click="edit(sdata.key)" class="glyphicon glyphicon-pencil"></span></small>
</div>
