<div>
    <div class="row">
        <div class="col-md-10">
            <h4 class="twdisabletextselect" ng-click="edit(sdata.key)">
                <strong>{{sdata.title}}</strong>&nbsp;&nbsp;<small><span class="glyphicon glyphicon-pencil"></span></small>
            </h4>
        </div>
    </div>

    <div ng-if="sdata.jumpItems.length!==0" class="btn-group btn-group-sm">
        <a ng-repeat="item in sdata.jumpItems"
           class="btn btn-primary"
           ng-click="$event.preventDefault();handleClickOnRef($event,item,$index,'ITEM_JUMP')">
           {{item.titleDisplay}}</a>
    </div>

    <br ng-if="sdata.jumpItems.length!==0"/>

    <table ng-if="sdata.milestones" class="table table-condensed voffset1" style="font-size:11px;">
        <thead>
            <tr>
                <th ng-class="{twnotdone:m.status==='reqd',twcompleted:m.status==='done' || m.status==='not-reqd'}"
                    ng-repeat="m in sdata.milestones">{{m.title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="m in sdata.milestones">
                    <span ng-if="m.status==='reqd' || m.status==='done'">
                        {{m.date | date:'dd/MM/yy'}}
                    </span>

                    <span ng-if="m.status==='not-reqd'">
                        n/a
                    </span>
                </td>
            </tr>
        </tbody>
   </table>

   <div class="btn-group btn-group-sm voffset2" >
        <div ng-repeat="item in sdata.linkItems | limitTo:linkItemsLimit" ng-init"{{setUnique()}}">
            <span ng-if="item.hasTodo" class="hroffset3">
              <span ng-class="todoStyle($index)" >
                  <input ng-attr-id="{{htmlId($index)}}" type="checkbox"
                         ng-model="item.todoInfo.done"
                         ng-change="todoStatusChanged(item.todoInfo.done,$index)">
                  <label for="{{htmlId($index)}}"></label>
              </span>
            </span>

            <a ng-if="item.link!== undefined && item.link!== ''"
               href="{{item.link}}" target="_blank" class="twlinkitem" ng-class="{twdone:item.hasTodo && item.todoInfo.done}"
               ng-click="$event.preventDefault();handleClickOnRef($event,item,$index,'ITEM_LINK')">
                {{item.titleDisplay}}</a>

                <span ng-if="item.link===undefined || item.link=== ''"
                      ng-click="handleClickOnRef($event,item,$index,'ITEM_LINK')"
                      class="twdisabletextselect twlinkitem" ng-class="{twdone:item.hasTodo && item.todoInfo.done}">
                      {{item.titleDisplay}}</span>

        </div>
    </div>
    <p ng-if="sdata.linkItems.length>limit"
       class="text-left"> <a ng-click="toggleDisplayLimit()">{{moreOrLess}}</a></p>
</div>
